@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

.hebrew-text {
    direction: rtl;
    text-align: right; /* if needed */
  }
  .hebrew-text-center {
    direction: rtl;
    text-align: center;
  }