@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

.hebrew-text {
    direction: rtl;
    text-align: right; /* if needed */
  }
  .hebrew-text-center {
    direction: rtl;
    text-align: center;
  }
  .hebrew-text-left {
    direction: ltr;
    text-align: left;
  }

  .twilio-button {
    display: inline-block;
    background-color: #f42c2caf;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 0 10px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
  }
  
  .twilio-button:hover {
    background-color: #f42c2caf;
  }


  .button {
    display: inline-block;
    background-color: #f42c2caf;
    color: #FFFFFF;
    font-size: 10px;
    font-weight: bold;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    transition: background-color 0.2s ease-in-out;
  }
  
  .button:hover {
    background-color: #f42c2caf;
  }

  input {
    border: none;
  }